name: shuffle_uikit
description: This project is a collection of UI kit in Shuffle app of Azart Technologies
version: 0.0.1
homepage: none
publish_to: none

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  #ui utils
  flutter_svg: ^2.0.10+1
  flutter_cache_manager: ^3.3.2
  flutter_screenutil: ^5.9.1
  vibration: ^1.8.4

  #ui widgets
  cached_network_image: ^3.3.1
  gradient_borders: ^1.0.0
  shimmer: ^3.0.0
  flutter_html: ^3.0.0-beta.2
  auto_size_text: ^3.0.0
  url_launcher: ^6.2.6
  flutter_html_iframe: any
  flutter_html_svg: any
  flutter_html_table_extension:
    git:
      url: https://github.com/shuffle-app/flutter_html_table_extension.git
      ref: main
  pointer_interceptor: ^0.9.3+6
  pinput:
    git:
      url: https://github.com/donik1998/Flutter_Pinput.git
      ref: master
  sliver_tools: ^0.2.12
#  infinite_scroll_pagination: ^4.0.0-dev.1
  infinite_scroll_pagination:
    git:
      url: https://github.com/EdsonBueno/infinite_scroll_pagination.git
      ref: develop
  flutter_gallery_3d:
#        path: ../flutter_gallery_3d_plus
    git:
      url: https://github.com/shuffle-app/flutter_gallery_3d_plus
      ref: master
  flip_card: ^0.7.0
  model_viewer_plus: ^1.7.2

  #dialogs widgets
  popover:
#    path: ../popover
    git:
      url: https://github.com/shuffle-app/popover.git
      ref: main

  another_flushbar: ^1.12.30

  #tab navigation
  tabnavigator:
#        path: ../tabnavigator_plus
    git:
      url: https://github.com/shuffle-app/tabnavigator_plus
      ref: main
  rxdart: any
  lottie: ^3.1.1
  flutter_card_swiper:
    git:
      #      url: https://github.com/rel1nce/shuffle_swiper.git
      url: https://github.com/shuffle-app/shuffle_swiper.git
      #      ref: main
      ref: e4391ca40994c91acc563477c7959fbdeff50004

  intl: ^0.19.0
  just_audio: ^0.9.37

  #custom splash factory
  flutter_platform_widgets: ^5.0.0
  dynamic_color: ^1.6.9

  #video player
  video_player: ^2.8.6
  smooth_video_progress: ^0.0.4


  #maps
  google_maps_flutter: ^2.6.1
  flutter_polyline_points: ^2.0.0
  countries_flag: ^1.0.0
  dropdown_button2: ^2.3.9
  image_picker: ^1.1.1
  image: ^4.1.7
  infinite_carousel: ^1.1.1

dependency_overrides:
  watcher: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  flutter_gen_runner: ^5.4.0
  build_runner: ^2.4.10
  icon_font_generator: ^4.0.0
#  dart_code_metrics: ^5.7.3
flutter:
  assets:
    - assets/images/png/
    - assets/images/png/preference_questions/
    - assets/images/png/avatars/
    - assets/images/svg/
    - assets/fonts/
    - assets/audio/
    - assets/animations/lottie/

  fonts:
    - family: Unbounded
      fonts:
        - asset: assets/fonts/Unbounded-Light.ttf
          weight: 300
        - asset: assets/fonts/Unbounded-Regular.ttf
          weight: 400
        - asset: assets/fonts/Unbounded-Medium.ttf
          weight: 500
        - asset: assets/fonts/Unbounded-SemiBold.ttf
          weight: 600
    - family: Shuffle Icons
      fonts:
        - asset: assets/fonts/shuffle_ui_kit_icons.otf

flutter_gen:
  output: lib/tokens
  line_length: 120
  integrations:
    flutter_svg: true
    lottie: true
  assets:
    enabled: true
    fonts:
      enabled: false
    output:
      style: dot-delimiter
      package_parameter_enabled: true
      synthetic-package: false

# extensions
flutter_intl:
  enabled: true
  arb_dir: lib/localization/arb
  output_dir: lib/localization

# icon_font_generator

# dart run icon_font_generator:generator assets/images/svg/ assets/fonts/shuffle_ui_kit_icons.otf

icon_font:
  input_svg_dir: "assets/images/svg/"
  output_font_file: "assets/fonts/shuffle_ui_kit_icons.otf"

  output_class_file: "lib/tokens/shuffle_ui_kit_icons.dart"
  class_name: "ShuffleUiKitIcons"
  package: shuffle_uikit
  format: true

  font_name: "Shuffle Icons"
  normalize: false
  ignore_shapes: false

  recursive: true
  verbose: false